body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

#heading-holder{
    display: flex;
    justify-content: center;
    width: fit-content;
}
#heading{
    color: #003049;
}

#pills-all-tab, #pills-queued-tab, #pills-done-tab{
    color: #D62828;
    margin: 0.5rem;
}
#pills-all-tab.active, #pills-queued-tab.active, #pills-done-tab.active{
    background-color: #FCBF49;
    transform: scale(0.8);
}


#add-btn{
    background-color: #D62828;
    height: 3rem;
    margin-left: 1rem;
    color: white;
}
#add-btn:hover{
    background-color: #931c1c;
}

/* addtask bar */
#add-task-bar{
    display: none;
    z-index: 10;

    box-shadow: 1rem 1rem 40px #fcc04971;
}

